@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #171717;
  --primary: #011224;
  --secondary: #051C40;
  --secondary-opacity: rgba(5, 28, 64, 0.8);
  --super-light-blue: #93BCF0;
  --blue: #0E528B;
  --cyan-blue: #1E8EF2;
  --font-bebas-neue: "Bebas Neue", cursive;
  --font-roboto: "Roboto", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.prose {
  max-width: 100vw;
}

body {
  color: var(--white);
  background: var(--primary);
  font-family: var(--font-roboto);
}

h1,
h2 {
  font-family: var(--font-bebas-neue);
  font-weight: 700;
}

h3,
h4,
h5,
h6,
a {
  font-family: var(--font-roboto);
}

.prose a {
  @apply bg-inherit;
}

.tw-container {
  @apply xl:max-w-screen-xl lg:max-w-screen-lg xl:my-[130px] w-full my-10;
}

.btn-primary {
  @apply rounded-full border border-solid border-transparent transition-colors flex items-center justify-center bg-cyan-blue text-white gap-2 hover:bg-[#383838] dark:hover:bg-[#ccc] text-sm sm:text-base h-10 sm:h-12 px-4 sm:px-5 no-underline;
}

.btn-outline {
  @apply rounded-full border border-solid border-super-light-blue no-underline dark:border-white/[.145] transition-colors flex items-center justify-center hover:bg-[#f2f2f2] dark:hover:bg-[#1a1a1a] hover:border-transparent text-sm sm:text-base h-10 sm:h-12 px-4 sm:px-5 sm:min-w-44;
}

.btn-link {
  @apply flex items-center gap-2 hover:underline hover:underline-offset-4 no-underline transition-colors;
}

main {
  @apply xl:ml-40 mt-0 ml-4 mr-4 md:ml-10 lg:ml-28;
}

.linkSect {
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  a {
    color: var(--super-light-blue);
    font-family: var(--font-bebas-neue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    border-radius: 50px;
    text-decoration: none;
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;



    .navIcon {
      background: var(--cyan-blue);
    }

    span {
      padding: 0 5px 0 7px;
      display: none;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover {
      background: var(--cyan-blue);

      span {
        display: inline-block;
        opacity: 1;
      }
    }
  }
}

.mobileNav {

  ul {
    @apply p-0;
  }

  li {
    @apply list-none pl-0;

    a {
      @apply no-underline
    }
  }
}